* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.message {
  text-align: center;
  margin: 10px;

  &.error {
    color: brown;
    border: 1px brown solid;
  }
}

a.product-link {
  display: block;
  color: black;
  text-decoration: none;
  padding: 1rem;

  &:hover {
    background-color: #ddd;
  }
}

i {
  font-size: 2rem;
  padding: 10px;
}
