* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
}

.message {
  text-align: center;
  margin: 10px;

  &.error {
    color: brown;
    border: 1px brown solid;
  }
}
